
@font-face {
	font-family: Napoli;
	src: url('fonts/Napoli.ttf') format('ttf');
	font-style: normal;
	font-display: swap;
}

@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}

:root {
 --primary: #e3fce9;
 --secondary: #d2d6ff;
 --tertiary: #ffcfa2;
}

body {
    font-family: Napoli;
    background-color: var(--primary);
    color: var(--tertiary);
}